.navbar {
  background-color: #131921;
  color: #fff;
  height: 60px;
  width: 100%;
}

.nav-link {
  @apply p-2 border border-transparent hover:border-white;
}

.nav-cart-count {
  color: #f08804;
}
