@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/AmazonEmbe_Lt.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Amazon Ember';
}
